@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
header{
    background-image: linear-gradient(to bottom ,rgba(21, 7, 1, 0.89),rgba(222, 191, 155, 0));
    z-index: 2;
}


main #sect1{
    background-image: url("../img/location.PNG");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top:-5.5rem;

}
main #sect1 .title{
    padding-top: 30%;
    padding-bottom: 20%;
}
main #sect1 .title h1{
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-bottom: 17px;
    color: #321207;
}
main #sect1 .title img{
    cursor: pointer;
 margin-left: 50%;
    width: 50px;
    height: 25px;
}
main #sect2{
    background-image: url("../img/bgloc.PNG");
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto;
    height: 1448px;
    display: flex;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    justify-items: center;
    padding-top: 100px;
}
main #sect2 div {
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 398px;
    border-radius: 5px;
    background: rgba(88, 49, 21, 0.57);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
    
}
main #sect2 div h2{
    width: 80%;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 30px; 
}
